<div class="greenHeader darkGreenBackgroundColor relative">
    <div class="innerBodyContainer">
        <h4 class="floatLeft colorWhite headMsg"><span class="colorWhite bold">&#10004;</span> Hourly package applied. 28 hours left.</h4>
        
        <a href="#/space" class="floatRight">
            <img class="exitGreenButton hoverPointer" src="images/white-cross.jpg" alt="close" title="close" />
        </a>
        <div class="clear"></div>
    </div>
</div>
<div class="bookSeatBlock1">
    <div class="innerBodyContainer">
        <div class="det1 floatLeft rightBorder">
            <div class="floatLeft">
                <h4 class="noMarBot noMarTop numButtonText colorBlack bold">Number of seats</h4>
            </div>
            <div class="numButton floatLeft">
                <div class="minnusButton tableBlock hoverPointer text-center">
                    <p class="noMarBot bold colorRed">-</p>
                </div>
                <div class="buttonContent tableBlock text-center darkGray">
                     <input type="text" class="noMarBot fontText12 bold" value="1" readonly >
                </div>
                <div class="plusButton tableBlock hoverPointer text-center">
                    <p class="noMarBot bold colorGreen">+</p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="det2 floatRight rightBorder text-center">
            <h4 class="noMarBot noMarTop unbold colorBlack">End Time:&nbsp;&nbsp;
                <input type="text" class="bold endTime colorBlack" value="00:00 AM" readonly />
            </h4>
        </div>
        <div class="det3 floatRight rightBorder text-center">
            <h4 class="noMarBot noMarTop unbold colorBlack">Start Time:&nbsp;&nbsp;
                <input type="text" class="bold startTime colorBlack" value="00:00 AM" readonly />
            </h4>
        </div>
        <div class="det4 floatRight rightBorder">
            <div class='input-group date text-center' id='datetimepicker'>
                <input type='text' class="form-control upperCase bold specialDesign" />
                <span class="input-group-addon edit hoverPointer">Edit</span>
                <span class="clear"></span>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="innerBodyContainer padBot60">
    <div class="gridContainer marTop40 marBot5 relative">
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">08:00</p><span class="hidden">AM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">08:15</p><span class="hidden">AM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">08:30</p><span class="hidden">AM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">08:45</p><span class="hidden">AM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">09:00</p><span class="hidden">AM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">09:15</p><span class="hidden">AM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">09:30</p><span class="hidden">AM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">09:45</p><span class="hidden">AM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">10:00</p><span class="hidden">AM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">10:15</p><span class="hidden">AM</span></div>
        <div class="gridblock text-center unavailGrid"><p class="noMarBot fontText12 colorLightGreen">10:30</p><span class="hidden">AM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">10:45</p><span class="hidden">AM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">11:00</p><span class="hidden">AM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">11:15</p><span class="hidden">AM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">11:30</p><span class="hidden">AM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">11:45</p><span class="hidden">AM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">12:00</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">12:15</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">12:30</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">12:45</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">01:00</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">01:15</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">01:30</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">01:45</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">02:00</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">02:15</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">02:30</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">02:45</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">03:00</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center unavailGrid"><p class="noMarBot fontText12 colorLightGreen">03:15</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">03:30</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">03:45</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">04:00</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">04:15</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">04:30</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">04:45</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">05:00</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">05:15</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">05:30</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center unavailGrid"><p class="noMarBot fontText12 colorLightGreen">05:45</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center unavailGrid"><p class="noMarBot fontText12 colorLightGreen">06:00</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center unavailGrid"><p class="noMarBot fontText12 colorLightGreen">06:15</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">06:30</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">06:45</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">07:00</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">07:15</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">07:30</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">07:45</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">08:00</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">08:15</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">08:30</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">08:45</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">09:00</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">09:15</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">09:30</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">09:45</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">10:00</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">10:15</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">10:30</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">10:45</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">11:00</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">11:15</p><span class="hidden">PM</span></div>
        <div class="gridblock text-center"><p class="noMarBot fontText12 colorLightGreen">11:30</p><span class="hidden">PM</span></div>
        <div class="clear"></div>
        
        <div class="toast centerPosition hidden">
            <p class="text-center fontText12 colorRed noMarBot">Unable to reserve. Please select a time slot with continuous availability of minimum booking duration.</p>
        </div>
    </div>
    
    
    <div class="bookSeatBlock2 padBot10">
        <div class="floatLeft padTop40">
            <span class="hidden durationBlock">2</span>
            <p class="noMarBot fontText12 darkGray">Note: Minimum booking duration is <span class="duration bold">30</span> minutes</p>
        </div>
        <div class="floatRight">
            <div class="floatRight"><p class="colorGreen fontText12 bold avTextBlock">Not Available</p></div>
            <div class="unavailableBoxNote floatRight"></div>
            <div class="floatRight"><p class="colorGreen fontText12 bold avTextBlock">Available</p></div>
            <div class="availableBoxNote floatRight"></div>
            <div class="clear"></div>  
        </div>
        <div class="clear"></div>
    </div>
    <div class="bookSeatBlock3">
        <div class="bookSeatLeft floatLeft">
            <p class="lightGray noMarTop marBot20">Select Add-ons:</p>
            <div class="addOnsblock">
                <div class="addOnsRow">
                    <div class="addOnsHeadCol1 floatLeft">
                        <p class="fontText12 noMarBot lightGray">Name</p>
                    </div>
                    <div class="addOnsHeadCol2 floatLeft">
                        <p class="fontText12 noMarBot lightGray">Price</p>
                    </div>
                    <div class="addOnsHeadCol3 floatLeft">
                        <p class="fontText12 noMarBot lightGray">Units</p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="addOnsRow">
                    <div class="addOnsCol1 floatLeft">
                        <p class="noMarBot darkGray">Coffee</p>
                    </div>
                    <div class="addOnsCol2 floatLeft">
                        <p class="noMarBot darkGray">&#8377; 20</p>
                    </div>
                    <div class="addOnsCol3 floatLeft">
                        <div class="numButton">
                            <div class="minnusButton tableBlock hoverPointer text-center">
                                <P class="noMarBot bold colorRed">-</P>
                            </div>
                            <div class="buttonContent tableBlock text-center darkGray">
                                 <input type="text" class="noMarBot fontText12 bold" value="0" readonly >
                            </div>
                            <div class="plusButton tableBlock hoverPointer text-center">
                                <P class="noMarBot bold colorGreen">+</P>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="addOnsRow">
                    <div class="addOnsCol1 floatLeft">
                        <p class="noMarBot darkGray">Print out - Color (1 Page)</p>
                    </div>
                    <div class="addOnsCol2 floatLeft">
                        <p class="noMarBot darkGray">&#8377; 20</p>
                    </div>
                    <div class="addOnsCol3 floatLeft">
                        <div class="numButton">
                            <div class="minnusButton tableBlock hoverPointer text-center">
                                <P class="noMarBot bold colorRed">-</P>
                            </div>
                            <div class="buttonContent tableBlock text-center darkGray">
                                 <input type="text" class="noMarBot fontText12 bold" value="0" readonly >
                            </div>
                            <div class="plusButton tableBlock hoverPointer text-center">
                                <P class="noMarBot bold colorGreen">+</P>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="addOnsRow">
                    <div class="addOnsCol1 floatLeft">
                        <p class="noMarBot darkGray">Internet</p>
                    </div>
                    <div class="addOnsCol2 floatLeft">
                        <p class="noMarBot darkGray">&#8377; 50</p>
                    </div>
                    <div class="addOnsCol3 switchBlockCol3 floatLeft">
                        <div class="switchBlock">
                            <div class="tableBlock">
                                <p class="fontText12 lightGray noMarBot bold switchFalse colorGreen">No</p>
                            </div>
                            <div class="tableBlock text-center">
                                <label class="switch noMarBot">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="tableBlock">
                                <p class="fontText12 lightGray noMarBot bold switchTrue">Yes</p>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="bookSeatRight floatRight leftPad30">
            <div class="">
                <input class="enter-coupon-code block floatLeft bold" placeholder="ENTER COUPON CODE" />
                <button class="apply block floatLeft fontText12 text-center colorWhite bold darkGreenBackgroundColor">Apply</button>
                <p class="clear colorGreen fontText12 padTop5 marBot20">Congrats! Discount of &#8377; <span class="discount colorGreen fontText12">100</span> applied</p>
            </div>
            <div class="floatLeft">
                <p class="bold noMarBot padTop5 darkGray">Amount payable <sup>(?)</sup> :</p>
            </div>
            <div class="floatRight">
                <p class="amount bold colorGreen noMarBot">&#8377; <span class="colorGreen">0.00</span></p>
            </div>
            <div class="clear"></div>
            <p class="fontText12 darkGray marTop20">Choose payment option</p>
            <div class="halfWidth floatLeft tableBlock marTop5">
                <div class="grayRadio block relative floatLeft">
                    <input class="noMarBot absolute hoverPointer" name="paidoption" type="radio" value="Wallet" />
                </div>
                <p class="block darkGray floatLeft">Wallet (&#8377; <span>121</span>)</p>
                <div class="clear"></div>
            </div>
            <div class="halfWidth floatLeft tableBlock marTop5">
                <div class="grayRadio block relative floatLeft">
                    <input class="noMarBot absolute hoverPointer" name="paidoption" type="radio" value="Cash" />
                </div>
                <p class="block darkGray floatLeft">Cash</p>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <a class="inline-block greenLink fontText12 fullWidth hoverPointer marTop10">RESERVE SEATS</a>
        </div>
        <div class="clear"></div>
    </div>
</div>

<script type="text/javascript" src="js/page-functionality.js"></script>	