<div class="greenHeader darkGreenBackgroundColor relative">
    <div class="innerBodyContainer">
        <a href="#/space" class="floatRight">
            <img class="exitGreenButton hoverPointer" src="images/white-cross.jpg" alt="close" title="close" />
        </a>
        <div class="clear"></div>
    </div>
</div>
<div class="innerBodyContainer padTop20 padBot5">
    <a href="#/space" class="goBack">
        <img src="images/green-arrow.jpg" />
        <span class="lightGray">Go Back</span>
    </a>
</div>
<div class="middleBodyContainer padTop10 marBot60">
    <h3 class="unbold text-center marBot40 noMarTop">You have selected <span class="bold">Starter Pack</span> with <span class="bold">50 hours</span> usage for <span class="bold">15 days</span> starting from <span class="underline">25/09/17</span></h3>
    
    <div class="checkOutBlockLeft floatLeft">
        <div class="padBot30">
            <p class="bold marBot20">Select package add-ons</p>
            <div class="addOnsblock">
                <div class="addOnsRow addOnsHeadRow">
                    <div class="addOnsHeadCol1 floatLeft">
                        <p class="fontText12 noMarBot lightGray">Name</p>
                    </div>
                    <div class="addOnsHeadCol2 floatLeft">
                        <p class="fontText12 noMarBot lightGray">Price</p>
                    </div>
                    <div class="addOnsHeadCol3 floatLeft">
                        <p class="fontText12 noMarBot lightGray">Units</p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="addOnsRow">
                    <div class="addOnsCol1 floatLeft">
                        <p class="noMarBot darkGray">Unlimited beverages</p>
                    </div>
                    <div class="addOnsCol2 floatLeft">
                        <p class="noMarBot darkGray">&#8377; 250</p>
                    </div>
                    <div class="addOnsCol3 switchBlockCol3 floatLeft">
                        <div class="switchBlock">
                            <div class="tableBlock">
                                <p class="fontText12 lightGray noMarBot bold switchFalse colorGreen">No</p>
                            </div>
                            <div class="tableBlock text-center">
                                <label class="switch noMarBot">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="tableBlock">
                                <p class="fontText12 lightGray noMarBot bold switchTrue">Yes</p>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="addOnsRow">
                    <div class="addOnsCol1 floatLeft">
                        <p class="noMarBot darkGray">Locker Facility</p>
                    </div>
                    <div class="addOnsCol2 floatLeft">
                        <p class="noMarBot darkGray">&#8377; 250</p>
                    </div>
                    <div class="addOnsCol3 switchBlockCol3 floatLeft">
                        <div class="switchBlock">
                            <div class="tableBlock">
                                <p class="fontText12 lightGray noMarBot bold switchFalse colorGreen">No</p>
                            </div>
                            <div class="tableBlock text-center">
                                <label class="switch noMarBot">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="tableBlock">
                                <p class="fontText12 lightGray noMarBot bold switchTrue">Yes</p>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="addOnsRow">
                    <div class="addOnsCol1 floatLeft">
                        <p class="noMarBot darkGray">Wifi Access</p>
                    </div>
                    <div class="addOnsCol2 floatLeft">
                        <p class="noMarBot darkGray">&#8377; 200</p>
                    </div>
                    <div class="addOnsCol3 switchBlockCol3 floatLeft">
                        <div class="switchBlock">
                            <div class="tableBlock">
                                <p class="fontText12 lightGray noMarBot bold switchFalse colorGreen">No</p>
                            </div>
                            <div class="tableBlock text-center">
                                <label class="switch noMarBot">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="tableBlock">
                                <p class="fontText12 lightGray noMarBot bold switchTrue">Yes</p>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="greenBoxCheck darkGreenBackgroundColor marTop60 marBot5">
            <h3 class="colorWhite bold noMarTop marBot15">Please note:</h3>
            <p class="colorWhite marBot40 padBot15">The package will expire on <span class="colorWhite bold">17 Oct, 2017.</span></p>
            <div class="checkAgreeBlock padTop60">
                <input class="floatLeft noMarTop" type="checkbox" value="yes"> 
                <p class="noMarBot colorWhite floatLeft">I understand and agree to the <a href="" class="colorWhite underline">terms and conditions</a></p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="checkOutBlockRight padBot20 floatRight">
        <div class="totalPayContainer">
            <p class="bold lightGray marBot20">Summary</p>
            <div class="addOnsblock">
                <div class="addOnsRow addOnsHeadRow">
                    <div class="addOnsHeadCol1 floatLeft">
                        <p class="fontText12 noMarBot lightGray">Name</p>
                    </div>
                    <div class="addOnsHeadCol2 floatRight">
                        <p class="fontText12 noMarBot lightGray">Amount</p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="addOnsRow">
                    <div class="addOnsCol1 floatLeft">
                        <p class="noMarBot darkGray">Starter Pack (50 hours | 15 days)</p>
                    </div>
                    <div class="addOnsCol2 floatRight">
                        <p class="noMarBot bold">&#8377; 2300</p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="addOnsRow">
                    <div class="addOnsCol1 floatLeft">
                        <p class="noMarBot darkGray">Unlimited Beverages</p>
                    </div>
                    <div class="addOnsCol2 floatRight">
                        <p class="noMarBot bold">&#8377; 250</p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="addOnsRow">
                    <div class="addOnsCol1 floatLeft">
                        <p class="noMarBot darkGray">SGST &amp; CGST @ 9% each</p>
                    </div>
                    <div class="addOnsCol2 floatRight">
                        <p class="noMarBot bold">&#8377; 459</p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            
            <div class="payBox">
                <div class="floatLeft"><p class="">Total Amount</p></div>
                <div class="floatRight"><p class="bold">&#8377; 3009</p></div>
                <div class="clear"></div>
                <div class="floatLeft">
                    <p class="noMarBot inline">Wallet balance</p> <img class="walletIcon" src="images/wallet-icon.png" /></div>
                <div class="floatRight"><p class="noMarBot bold">(-) &#8377; 121</p></div>
                <div class="clear"></div>
            </div>
            <div class="">
                <input class="enter-coupon-code block floatLeft bold" placeholder="ENTER COUPON CODE" />
                <button class="apply block floatLeft fontText12 text-center colorWhite bold darkGreenBackgroundColor">Apply</button>
                <p class="clear colorGreen fontText12 padTop5 marBot20">Congrats! Discount of &#8377; <span class="discount colorGreen fontText12">100</span> applied</p>
            </div>  
            <div class="payBoxContainer text-center">
                <h3 class="colorGreen noMarTop noMarBot bold">Final payable amount</h3>
                <h3 class="darkGray fontText24 marTop10 marBot15 bold relative">&#8377; 2888
                    <span class="infoSup absolute text-center colorWhite">i</span></h3>
                <a class="inline-block greenLink fontText12 fullWidth hoverPointer">Continue to pay</a>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<script type="text/javascript" src="js/page-functionality.js"></script>	