<div ng-include="'templates/header.html'"></div>

<div class="shadyBackground">
    <div class="middleBodyContainer padTop60 padBot60">
        <h1 class="fontText24 lightGray2 noMarTop marBot20 bold">Frequently asked questions</h1>
        <div class="whiteBackgroundColor padTop20">
            <div class="qsAnsBlock">
                <div class="qsblock hoverPointer">
                    <p class="colorBlack noMarBot">Why is it compulsory to upload an ID to sign up?</p>
                </div>
                <div class="ansBloack">
                    <p class="noMarBot">This is to ensure the safety of all our users. Moreover, it is a mandate from the authorities for all space providers to collect a government issued ID from every user.</p>
                </div>
            </div>
            <div class="qsAnsBlock">
                <div class="qsblock hoverPointer">
                    <p class="colorBlack noMarBot">Do I have to show my ID at the space to get access?</p>
                </div>
                <div class="ansBloack">
                    <p class="noMarBot">Yes, you need to carry the same ID that was used to sign up. You may be denied access if you fail to produce the ID.</p>
                </div>
            </div>
            <div class="qsAnsBlock">
                <div class="qsblock hoverPointer">
                    <p class="colorBlack noMarBot">How can I earn credits?</p>
                </div>
                <div class="ansBloack">
                    <p class="noMarBot">You can earn credits by inviting others to join Nwook. Once your invitee creates an account using your invitation link, you both will receive credits worth 1 hour. You might need to logout of your account and log back in for the credits to appear in your account.</p>
                </div>
            </div>
            <div class="qsAnsBlock">
                <div class="qsblock hoverPointer">
                    <p class="colorBlack noMarBot">How can I use my credits?</p>
                </div>
                <div class="ansBloack">
                    <p class="noMarBot">You can use your credits at the time of payment after using a space. Please note that credits cannot be used for meeting room bookings and are applicable only on seat bookings at our Study Spaces. Also, credits are not broken down into minutes and maximum available credits are applied automatically.</p>
                    <p class="marTop20">Example 1:</p>
                    <p>Booking Duration: 40 Minutes</p>
                    <p>Credits Available: 2 Hours</p>
                    <p>Credits Auto Applied: 1 Hour</p>
                    <p class="marTop20">Example 2:</p>
                    <p>Booking Duration: 1 Hour 10 Minutes</p>
                    <p>Credits Available: 2 Hours</p>
                    <p>Credits Auto Applied: 2 Hours</p>
                </div>
            </div>
            <div class="qsAnsBlock">
                <div class="qsblock hoverPointer">
                    <p class="colorBlack noMarBot">Can I use my credits at any space?</p>
                </div>
                <div class="ansBloack">
                    <p class="noMarBot">Following are the differences between the two:</p>
                    <div class="table-responsive marTop20">
                        <table class="table table-bordered table-hover table-striped">
                            <thead class="thead-light">
                                <tr>
                                    <th>Characteristics</th>
                                    <th>Work Space</th>
                                    <th>Study Space</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Desk Space</td>
                                    <td>3 Feet</td>
                                    <td>2 Feet</td>
                                </tr>
                                <tr>
                                    <td>Internet</td>
                                    <td>Yes</td>
                                    <td>No</td>
                                </tr>
                                <tr>
                                    <td>Free Beverage</td>
                                    <td>1 Per Hour</td>
                                    <td>None</td>
                                </tr>
                                <tr>
                                    <td>Ideal For</td>
                                    <td>Everyone</td>
                                    <td>Students &amp; Tutors</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="qsAnsBlock">
                <div class="qsblock hoverPointer">
                    <p class="colorBlack noMarBot">Will I be charged for a cancelled booking?</p>
                </div>
                <div class="ansBloack">
                    <p class="noMarBot">No, we do not charge a cancellation fee at the moment.</p>
                </div>
            </div>
            <div class="qsAnsBlock">
                <div class="qsblock hoverPointer">
                    <p class="colorBlack noMarBot">What happens if I arrive later than my booking time?</p>
                </div>
                <div class="ansBloack">
                    <p class="noMarBot">Your booking will start at the chosen time and be valid for 30 minutes, post which it will be auto-cancelled if you do not arrive. However, you will be charged a no-show fee worth 1 hour which will be added to your next bill.</p>
                </div>
            </div>
            <div class="qsAnsBlock">
                <div class="qsblock hoverPointer">
                    <p class="colorBlack noMarBot">What happens if I arrive earlier than my booking time?</p>
                </div>
                <div class="ansBloack">
                    <p class="noMarBot">You can either choose to wait or check-in early. Your timer will start as soon as you check-in.</p>
                </div>
            </div>
            <div class="qsAnsBlock">
                <div class="qsblock hoverPointer">
                    <p class="colorBlack noMarBot">Will I be charged for the full hour if I stay for less than 60 minutes?</p>
                </div>
                <div class="ansBloack">
                    <p class="noMarBot">No, the charges will be prorated based on the time spent at the premises. However, if you redeem a free beverage, or use a Swimming Pool, you will be charged for the full hour.</p>
                </div>
            </div>
            <div class="qsAnsBlock">
                <div class="qsblock hoverPointer">
                    <p class="colorBlack noMarBot">How many beverages can I avail in an hour?</p>
                </div>
                <div class="ansBloack">
                    <p class="noMarBot">The number of beverages you can redeem in an hour is always equal to the number of seats you have availed. Please refer to the table below to know how beverage redemption works:</p>
                    <div class="table-responsive marTop20">
                        <table class="table table-bordered table-hover table-striped">
                            <thead class="thead-light">
                                <tr>
                                    <th>Time Spent</th>
                                    <th>Beverage(s) Redeemed</th>
                                    <th>Charged For</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="2">40 Minutes (1 seat)</td>
                                    <td>0</td>
                                    <td>40 Minutes</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>1 Hour</td>
                                </tr>
                                <tr>
                                    <td rowspan="3">40 Minutes (2 seats)</td>
                                    <td>0</td>
                                    <td>40 Minutes</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>1 Hour</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>1 Hour</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="qsAnsBlock">
                <div class="qsblock hoverPointer">
                    <p class="colorBlack noMarBot">How many beverages are included in a meeting room booking?</p>
                </div>
                <div class="ansBloack">
                    <p class="noMarBot">The same as the capacity of the meeting room. Please note that by redeeming even 1 beverage, you agree to pay for the full hour as per the hourly rate of the meeting room.</p>
                </div>
            </div>
            <div class="qsAnsBlock">
                <div class="qsblock hoverPointer">
                    <p class="colorBlack noMarBot">What amenities or facilities are included in a meeting room?</p>
                </div>
                <div class="ansBloack">
                    <p class="noMarBot">At work spaces, a meeting room comes with a whiteboard and 1 beverage per seat. Please note that by redeeming even 1 beverage, you agree to pay for the full hour as per the hourly rate of the meeting room. Meeting rooms at study spaces don't come with a white board or beverages.</p>
                </div>
            </div>
            <div class="qsAnsBlock">
                <div class="qsblock hoverPointer">
                    <p class="colorBlack noMarBot">Can I redeem more than 1 beverage per hour?</p>
                </div>
                <div class="ansBloack">
                    <p class="noMarBot">The number of beverages you can redeem in an hour is always equal to the number of seats you have availed. You cannot redeem more than 1 beverage if you have booked only 1 seat. Also, please note that by redeeming a beverage, you agree to pay for the full hour. The duration will be rounded up to the next hour once you redeem a beverage. Please refer to the table below to know how beverage redemption works:</p>
                    <div class="table-responsive marTop20">
                        <table class="table table-bordered table-hover table-striped">
                            <thead class="thead-light">
                                <tr>
                                    <th>Time Spent</th>
                                    <th>Beverage(s) Redeemed</th>
                                    <th>Charged For</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="2">40 Minutes (1 seat)</td>
                                    <td>0</td>
                                    <td>40 Minutes</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>1 Hour</td>
                                </tr>
                                <tr>
                                    <td rowspan="3">40 Minutes (2 seats)</td>
                                    <td>0</td>
                                    <td>40 Minutes</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>1 Hour</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>1 Hour</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="qsAnsBlock">
                <div class="qsblock hoverPointer">
                    <p class="colorBlack noMarBot">Can I buy beverages?</p>
                </div>
                <div class="ansBloack">
                    <p class="noMarBot">Yes you can.</p>
                </div>
            </div>
            <div class="qsAnsBlock">
                <div class="qsblock hoverPointer">
                    <p class="colorBlack noMarBot">Can I bring my own beverages and snacks?</p>
                </div>
                <div class="ansBloack">
                    <p class="noMarBot">Yes, you can carry beverages and dry snacks and consume them at your desk. However, food should only be consumed at designated areas or outside the premises. Alcoholic beverages are strictly prohibited.</p>
                </div>
            </div>
            <div class="qsAnsBlock">
                <div class="qsblock hoverPointer">
                    <p class="colorBlack noMarBot">Is smoking permitted?</p>
                </div>
                <div class="ansBloack">
                    <p class="noMarBot">Smoking is prohibited inside a space but some spaces do have designated smoking areas.</p>
                </div>
            </div>
            <div class="qsAnsBlock">
                <div class="qsblock hoverPointer">
                    <p class="colorBlack noMarBot">Can I carry alcohol?</p>
                </div>
                <div class="ansBloack">
                    <p class="noMarBot">Carrying alcohol to a space is strictly prohibited.</p>
                </div>
            </div>
            <div class="qsAnsBlock">
                <div class="qsblock hoverPointer">
                    <p class="colorBlack noMarBot">Can I bring in my visitors to the space?</p>
                </div>
                <div class="ansBloack">
                    <p class="noMarBot">Yes you can, but only after booking a seat for each visitor. You can do this through your account or ask the visitor to book one through the website.</p>
                </div>
            </div>
            <div class="qsAnsBlock">
                <div class="qsblock hoverPointer">
                    <p class="colorBlack noMarBot">If I book multiple seats or a meeting room from my account, do all my guests have to produce an ID?</p>
                </div>
                <div class="ansBloack">
                    <p class="noMarBot">No, only your ID will do.</p>
                </div>
            </div>
            <div class="qsAnsBlock">
                <div class="qsblock hoverPointer">
                    <p class="colorBlack noMarBot">Can I book a seat or a room on behalf of others?</p>
                </div>
                <div class="ansBloack">
                    <p class="noMarBot">No, others cannot access a space in your absence.</p>
                </div>
            </div>
            <div class="qsAnsBlock">
                <div class="qsblock hoverPointer">
                    <p class="colorBlack noMarBot">Can I use a space as a business or mailing address?</p>
                </div>
                <div class="ansBloack">
                    <p class="noMarBot">Yes you can. Please call our helpline on 080-395-14348 (Kolkata) or 080-304-74792 (Delhi) to know more.</p>
                </div>
            </div>
            <div class="qsAnsBlock">
                <div class="qsblock hoverPointer">
                    <p class="colorBlack noMarBot">Is storage space or locker facility available?</p>
                </div>
                <div class="ansBloack">
                    <p class="noMarBot">Certain spaces offer private lockers as storage space for personal belongings for a monthly fee.</p>
                </div>
            </div>
            <div class="qsAnsBlock">
                <div class="qsblock hoverPointer">
                    <p class="colorBlack noMarBot">Are pets allowed?</p>
                </div>
                <div class="ansBloack">
                    <p class="noMarBot">Pets are not allowed inside a space and there are no designated areas to leave your pets unattended.</p>
                </div>
            </div>
            <div class="qsAnsBlock">
                <div class="qsblock hoverPointer">
                    <p class="colorBlack noMarBot">How many beverages are included in a package?</p>
                </div>
                <div class="ansBloack">
                    <p class="noMarBot">Beverages are only included in packages for work spaces. The number of beverages is the same as the number of hours purchased.</p>
                </div>
            </div>
            <div class="qsAnsBlock">
                <div class="qsblock hoverPointer">
                    <p class="colorBlack noMarBot">Can I buy packages on behalf of others?</p>
                </div>
                <div class="ansBloack">
                    <p class="noMarBot">Yes you can. Please call our helpline on 9051875651 to know more.</p>
                </div>
            </div>
            <div class="qsAnsBlock">
                <div class="qsblock hoverPointer">
                    <p class="colorBlack noMarBot">Are packages transferrable?</p>
                </div>
                <div class="ansBloack">
                    <p class="noMarBot">No, a package can only be used by the registered user and is not transferrable.</p>
                </div>
            </div>
            <div class="qsAnsBlock">
                <div class="qsblock hoverPointer">
                    <p class="colorBlack noMarBot">Can I cancel a package after purchasing it? Will I get a refund?</p>
                </div>
                <div class="ansBloack">
                    <p class="noMarBot">Packages, once purchased, cannot be cancelled, returned or transferred. We cannot process any refunds for a package even if it hasn't been activated. However, you can choose to activate a package anytime after purchasing it and your validity will start only from the date of activation. The package will remain in your account unless you activate it.</p>
                </div>
            </div>
            <div class="qsAnsBlock">
                <div class="qsblock hoverPointer">
                    <p class="colorBlack noMarBot">Are card payments available?</p>
                </div>
                <div class="ansBloack">
                    <p class="noMarBot">No, we accept only cash or Paytm at the moment.</p>
                </div>
            </div>
            
            <div class="folowBox">
                <p class="floatLeft fontText24 darkGray noMarBot">Still have questions?</p>
                <p class="floatRight fontText24 darkGray noMarBot">Call us on +91 999 999 9999 or find us on twitter!</p>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    
    <div class="text-center padTop20">
        <h1 class="bold noMarTop">Explore more places at Nwook</h1>
    </div>
    <div class="middleBodyContainer padTop20 marTop20">
        <h2 class="bold">Summer Selects</h2>
        <p class="marBot20">Get a respite from the rising tempature in the city.</p>
    </div>
    <div class="lightGreenBackgroundColor padTop40 padBot40">
        <div class="middleBodyContainer relative">
            <div class="spaceThumbnail hoverPointer floatLeft marRight30">
                <div class="imgBlockThumb relative">
                    <img src="images/demo-room.jpg" alt="Sector 5 Work" title="Sector 5 Work" />
                    <div class="absolute offer-category text-center">
                        <p class="colorWhite samllText">offer/category</p>
                    </div>
                </div>
                <div class="textBlockThumb whiteBackgroundColor relative">
                    <h4 class="noMarBot bold bodyColor">Sector 5 Work</h4>
                    <p class="bodyColor fontText12">&#8377; 125 /hour per seat</p>
                    <p class="noMarBot samllText lightGray">10 mins from nicco park</p>

                    <img class="absolute flagThumb" src="images/flag_favourite_unselected.png" alt="Add to favourite" title="Add to favourite" />
                </div>
            </div>
            <div class="spaceThumbnail hoverPointer floatLeft marRight30">
                <div class="imgBlockThumb relative">
                    <img src="images/demo-room.jpg" alt="Sector 5 Work" title="Sector 5 Work" />
                    <div class="absolute offer-category text-center">
                        <p class="colorWhite samllText">offer/category</p>
                    </div>
                </div>
                <div class="textBlockThumb whiteBackgroundColor relative">
                    <h4 class="noMarBot bold bodyColor">Sector 5 Work</h4>
                    <p class="bodyColor fontText12">&#8377; 125 /hour per seat</p>
                    <p class="noMarBot samllText lightGray">10 mins from nicco park</p>

                    <img class="absolute flagThumb" src="images/flag_favourite_unselected.png" alt="Add to favourite" title="Add to favourite" />
                </div>
            </div>
            <div class="spaceThumbnail hoverPointer floatLeft marRight30">
                <div class="imgBlockThumb relative">
                    <img src="images/demo-room.jpg" alt="Sector 5 Work" title="Sector 5 Work" />
                    <div class="absolute offer-category text-center">
                        <p class="colorWhite samllText">offer/category</p>
                    </div>
                </div>
                <div class="textBlockThumb whiteBackgroundColor relative">
                    <h4 class="noMarBot bold bodyColor">Sector 5 Work</h4>
                    <p class="bodyColor fontText12">&#8377; 125 /hour per seat</p>
                    <p class="noMarBot samllText lightGray">10 mins from nicco park</p>

                    <img class="absolute flagThumb" src="images/flag_favourite_unselected.png" alt="Add to favourite" title="Add to favourite" />
                </div>
            </div>
            <div class="spaceThumbnail hoverPointer floatLeft">
                <div class="imgBlockThumb relative">
                    <img src="images/demo-room.jpg" alt="Sector 5 Work" title="Sector 5 Work" />
                    <div class="absolute offer-category text-center">
                        <p class="colorWhite samllText">offer/category</p>
                    </div>
                </div>
                <div class="textBlockThumb whiteBackgroundColor relative">
                    <h4 class="noMarBot bold bodyColor">Sector 5 Work</h4>
                    <p class="bodyColor fontText12">&#8377; 125 /hour per seat</p>
                    <p class="noMarBot samllText lightGray">10 mins from nicco park</p>

                    <img class="absolute flagThumb" src="images/flag_favourite_unselected.png" alt="Add to favourite" title="Add to favourite" />
                </div>
            </div>
            <div class="clear"></div>
            <a href="#/search-results"><img class="hoverPointer absolute seeAllLink" src="images/view_all.png" alt="view all" title="view all" /></a>
        </div>
    </div>
    <div class="middleBodyContainer padTop20 marTop20">
        <h2 class="bold">Premium Grabs</h2>
        <p class="marBot20">The best of the best, at a no-strings-attached offering.</p>
    </div>
    <div class="lightGreenBackgroundColor padTop40 padBot40">
        <div class="middleBodyContainer relative">
            <div class="spaceThumbnail hoverPointer floatLeft marRight30">
                <div class="imgBlockThumb relative">
                    <img src="images/demo-room.jpg" alt="Sector 5 Work" title="Sector 5 Work" />
                    <div class="absolute offer-category text-center">
                        <p class="colorWhite samllText">offer/category</p>
                    </div>
                </div>
                <div class="textBlockThumb whiteBackgroundColor relative">
                    <h4 class="noMarBot bold bodyColor">Sector 5 Work</h4>
                    <p class="bodyColor fontText12">&#8377; 125 /hour per seat</p>
                    <p class="noMarBot samllText lightGray">10 mins from nicco park</p>

                    <img class="absolute flagThumb" src="images/flag_favourite_unselected.png" alt="Add to favourite" title="Add to favourite" />
                </div>
            </div>
            <div class="spaceThumbnail hoverPointer floatLeft marRight30">
                <div class="imgBlockThumb relative">
                    <img src="images/demo-room.jpg" alt="Sector 5 Work" title="Sector 5 Work" />
                    <div class="absolute offer-category text-center">
                        <p class="colorWhite samllText">offer/category</p>
                    </div>
                </div>
                <div class="textBlockThumb whiteBackgroundColor relative">
                    <h4 class="noMarBot bold bodyColor">Sector 5 Work</h4>
                    <p class="bodyColor fontText12">&#8377; 125 /hour per seat</p>
                    <p class="noMarBot samllText lightGray">10 mins from nicco park</p>

                    <img class="absolute flagThumb" src="images/flag_favourite_unselected.png" alt="Add to favourite" title="Add to favourite" />
                </div>
            </div>
            <div class="spaceThumbnail hoverPointer floatLeft marRight30">
                <div class="imgBlockThumb relative">
                    <img src="images/demo-room.jpg" alt="Sector 5 Work" title="Sector 5 Work" />
                    <div class="absolute offer-category text-center">
                        <p class="colorWhite samllText">offer/category</p>
                    </div>
                </div>
                <div class="textBlockThumb whiteBackgroundColor relative">
                    <h4 class="noMarBot bold bodyColor">Sector 5 Work</h4>
                    <p class="bodyColor fontText12">&#8377; 125 /hour per seat</p>
                    <p class="noMarBot samllText lightGray">10 mins from nicco park</p>

                    <img class="absolute flagThumb" src="images/flag_favourite_unselected.png" alt="Add to favourite" title="Add to favourite" />
                </div>
            </div>
            <div class="spaceThumbnail hoverPointer floatLeft">
                <div class="imgBlockThumb relative">
                    <img src="images/demo-room.jpg" alt="Sector 5 Work" title="Sector 5 Work" />
                    <div class="absolute offer-category text-center">
                        <p class="colorWhite samllText">offer/category</p>
                    </div>
                </div>
                <div class="textBlockThumb whiteBackgroundColor relative">
                    <h4 class="noMarBot bold bodyColor">Sector 5 Work</h4>
                    <p class="bodyColor fontText12">&#8377; 125 /hour per seat</p>
                    <p class="noMarBot samllText lightGray">10 mins from nicco park</p>

                    <img class="absolute flagThumb" src="images/flag_favourite_unselected.png" alt="Add to favourite" title="Add to favourite" />
                </div>
            </div>
            <div class="clear"></div>
            <a href="#/search-results"><img class="hoverPointer absolute seeAllLink" src="images/view_all.png" alt="view all" title="view all" /></a>
        </div>
    </div>
    <div class="">
        <div class="floatRight text-center goTopBox hoverPointer">
            <img src="images/back-to-top.JPG" alt="Back to the top" title="Back to the top">
            <p class="samllText padTop10 lightGray">Back to the top</p>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div ng-include="'templates/footer.html'"></div>