<div id="footer" class="whiteBackgroundColor">
	<div class="innerBodyContainer">
        <div class="logoblockFooter fourthWidth floatLeft">
            <a href="#/">
                <img class="logo" src="images/logo.png" title="logo icon" alt="logo icon" />
            </a>
            <!--<p class="subText noMarBot colorBlack">On demand spaces, for almost everyone.</p>-->
        </div>
        <div class="floatLeft text-center halfWidth fooerTextBlock justDesktop">
            <p class="noMarBot">Meet Online, Connect Offline. <a class="anchorYellow hoverPointer">Join</a> the Nwook community!</p>
        </div>
        <div class="floatRight fourthWidth whiteBackgroundColor contactBlock">
            <p class="subText lightGray noMarBot">FAQ</p>
			<p class="subText lightGray noMarBot">hey@nwook.com</p>
			<p class="subText lightGray noMarBot">080-395-14348</p>
        </div>
        <div class="clear"></div>
    </div>
</div>

<script type="text/javascript" src="js/page-functionality.js"></script>	