<div ng-include="'templates/header.html'"></div>

<div id="myCarousel" class="carousel slide innerBodyContainer marTop60" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner homeSlider">
        <div class="item active">
            <img src="images/home-slider.jpg" alt="Los Angeles">
        </div>
        <div class="item">
            <img src="images/home-slider.jpg" alt="Chicago">
        </div>
        <div class="item">
            <img src="images/home-slider.jpg" alt="New York">
        </div>
    </div>

    <!-- Left and right controls --> 
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="innerBodyContainer marTop60 tabHeader">
    <ul class="nav nav-tabs">
        <li class="active hoverPointer"><a class="fontText24" data-toggle="tab" data-target="#seat">SEATS</a></li>
        <li class="hoverPointer"><a class="fontText24" data-toggle="tab" data-target="#room">ROOMS</a></li>
    </ul>
</div>
<div class="marTop30 lightGreenBackgroundColorOpa padBot50 padTop50">
    <div class="tab-content relative">
        <div id="seat" class="tab-pane fade in active">
            <div class="padBot50 greenBorderBot">
                <div class="middleBodyContainer">
                    <div class="spaceThumbnail hoverPointer floatLeft marRight30">
                        <div class="imgBlockThumb relative">
                            <img src="images/demo-room.jpg" alt="Sector 5 Work" title="Sector 5 Work" />
                            <div class="absolute offer-category text-center">
                                <p class="colorWhite samllText">offer/category</p>
                            </div>
                        </div>
                        <div class="textBlockThumb whiteBackgroundColor relative">
                            <h4 class="noMarBot bold bodyColor">Sector 5 Work</h4>
                            <p class="bodyColor fontText12">&#8377; 125 /hour per seat</p>
                            <p class="noMarBot samllText lightGray">10 mins from nicco park</p>

                            <img class="absolute flagThumb" src="images/flag_favourite_unselected.png" alt="Add to favourite" title="Add to favourite" />
                        </div>
                    </div>
                    <div class="spaceThumbnail hoverPointer floatLeft marRight30">
                        <div class="imgBlockThumb relative">
                            <img src="images/demo-room.jpg" alt="Sector 5 Work" title="Sector 5 Work" />
                            <div class="absolute offer-category text-center">
                                <p class="colorWhite samllText">offer/category</p>
                            </div>
                        </div>
                        <div class="textBlockThumb whiteBackgroundColor relative">
                            <h4 class="noMarBot bold bodyColor">Sector 5 Work</h4>
                            <p class="bodyColor fontText12">&#8377; 125 /hour per seat</p>
                            <p class="noMarBot samllText lightGray">10 mins from nicco park</p>

                            <img class="absolute flagThumb" src="images/flag_favourite_unselected.png" alt="Add to favourite" title="Add to favourite" />
                        </div>
                    </div>
                    <div class="spaceThumbnail hoverPointer floatLeft marRight30">
                        <div class="imgBlockThumb relative">
                            <img src="images/demo-room.jpg" alt="Sector 5 Work" title="Sector 5 Work" />
                            <div class="absolute offer-category text-center">
                                <p class="colorWhite samllText">offer/category</p>
                            </div>
                        </div>
                        <div class="textBlockThumb whiteBackgroundColor relative">
                            <h4 class="noMarBot bold bodyColor">Sector 5 Work</h4>
                            <p class="bodyColor fontText12">&#8377; 125 /hour per seat</p>
                            <p class="noMarBot samllText lightGray">10 mins from nicco park</p>

                            <img class="absolute flagThumb" src="images/flag_favourite_unselected.png" alt="Add to favourite" title="Add to favourite" />
                        </div>
                    </div>
                    <div class="spaceThumbnail hoverPointer floatLeft">
                        <div class="imgBlockThumb relative">
                            <img src="images/demo-room.jpg" alt="Sector 5 Work" title="Sector 5 Work" />
                            <div class="absolute offer-category text-center">
                                <p class="colorWhite samllText">offer/category</p>
                            </div>
                        </div>
                        <div class="textBlockThumb whiteBackgroundColor relative">
                            <h4 class="noMarBot bold bodyColor">Sector 5 Work</h4>
                            <p class="bodyColor fontText12">&#8377; 125 /hour per seat</p>
                            <p class="noMarBot samllText lightGray">10 mins from nicco park</p>

                            <img class="absolute flagThumb" src="images/flag_favourite_unselected.png" alt="Add to favourite" title="Add to favourite" />
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="padTop50">
                <div class="middleBodyContainer">
                    <div class="spaceThumbnail hoverPointer floatLeft marRight30">
                        <div class="imgBlockThumb relative">
                            <img src="images/demo-room.jpg" alt="Sector 5 Work" title="Sector 5 Work" />
                            <div class="absolute offer-category text-center">
                                <p class="colorWhite samllText">offer/category</p>
                            </div>
                        </div>
                        <div class="textBlockThumb whiteBackgroundColor relative">
                            <h4 class="noMarBot bold bodyColor">Sector 5 Work</h4>
                            <p class="bodyColor fontText12">&#8377; 125 /hour per seat</p>
                            <p class="noMarBot samllText lightGray">10 mins from nicco park</p>

                            <img class="absolute flagThumb" src="images/flag_favourite_unselected.png" alt="Add to favourite" title="Add to favourite" />
                        </div>
                    </div>
                    <div class="spaceThumbnail hoverPointer floatLeft marRight30">
                        <div class="imgBlockThumb relative">
                            <img src="images/demo-room.jpg" alt="Sector 5 Work" title="Sector 5 Work" />
                            <div class="absolute offer-category text-center">
                                <p class="colorWhite samllText">offer/category</p>
                            </div>
                        </div>
                        <div class="textBlockThumb whiteBackgroundColor relative">
                            <h4 class="noMarBot bold bodyColor">Sector 5 Work</h4>
                            <p class="bodyColor fontText12">&#8377; 125 /hour per seat</p>
                            <p class="noMarBot samllText lightGray">10 mins from nicco park</p>

                            <img class="absolute flagThumb" src="images/flag_favourite_unselected.png" alt="Add to favourite" title="Add to favourite" />
                        </div>
                    </div>
                    <div class="spaceThumbnail hoverPointer floatLeft marRight30">
                        <div class="imgBlockThumb relative">
                            <img src="images/demo-room.jpg" alt="Sector 5 Work" title="Sector 5 Work" />
                            <div class="absolute offer-category text-center">
                                <p class="colorWhite samllText">offer/category</p>
                            </div>
                        </div>
                        <div class="textBlockThumb whiteBackgroundColor relative">
                            <h4 class="noMarBot bold bodyColor">Sector 5 Work</h4>
                            <p class="bodyColor fontText12">&#8377; 125 /hour per seat</p>
                            <p class="noMarBot samllText lightGray">10 mins from nicco park</p>

                            <img class="absolute flagThumb" src="images/flag_favourite_unselected.png" alt="Add to favourite" title="Add to favourite" />
                        </div>
                    </div>
                    <div class="spaceThumbnail hoverPointer floatLeft">
                        <div class="imgBlockThumb relative">
                            <img src="images/demo-room.jpg" alt="Sector 5 Work" title="Sector 5 Work" />
                            <div class="absolute offer-category text-center">
                                <p class="colorWhite samllText">offer/category</p>
                            </div>
                        </div>
                        <div class="textBlockThumb whiteBackgroundColor relative">
                            <h4 class="noMarBot bold bodyColor">Sector 5 Work</h4>
                            <p class="bodyColor fontText12">&#8377; 125 /hour per seat</p>
                            <p class="noMarBot samllText lightGray">10 mins from nicco park</p>

                            <img class="absolute flagThumb" src="images/flag_favourite_unselected.png" alt="Add to favourite" title="Add to favourite" />
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div id="room" class="tab-pane fade">
            <div class="padBot50 greenBorderBot">
                <div class="middleBodyContainer">
                    <div class="spaceThumbnail hoverPointer floatLeft marRight30">
                        <div class="imgBlockThumb relative">
                            <img src="images/demo-room.jpg" alt="Sector 5 Work" title="Sector 5 Work" />
                            <div class="absolute offer-category text-center">
                                <p class="colorWhite samllText">offer/category</p>
                            </div>
                        </div>
                        <div class="textBlockThumb whiteBackgroundColor relative">
                            <h4 class="noMarBot bold bodyColor">Sector 5 Work</h4>
                            <p class="bodyColor fontText12">&#8377; 125 /hour per seat</p>
                            <p class="noMarBot samllText lightGray">10 mins from nicco park</p>

                            <img class="absolute flagThumb" src="images/flag_favourite_unselected.png" alt="Add to favourite" title="Add to favourite" />
                        </div>
                    </div>
                    <div class="spaceThumbnail hoverPointer floatLeft marRight30">
                        <div class="imgBlockThumb relative">
                            <img src="images/demo-room.jpg" alt="Sector 5 Work" title="Sector 5 Work" />
                            <div class="absolute offer-category text-center">
                                <p class="colorWhite samllText">offer/category</p>
                            </div>
                        </div>
                        <div class="textBlockThumb whiteBackgroundColor relative">
                            <h4 class="noMarBot bold bodyColor">Sector 5 Work</h4>
                            <p class="bodyColor fontText12">&#8377; 125 /hour per seat</p>
                            <p class="noMarBot samllText lightGray">10 mins from nicco park</p>

                            <img class="absolute flagThumb" src="images/flag_favourite_unselected.png" alt="Add to favourite" title="Add to favourite" />
                        </div>
                    </div>
                    <div class="spaceThumbnail hoverPointer floatLeft marRight30">
                        <div class="imgBlockThumb relative">
                            <img src="images/demo-room.jpg" alt="Sector 5 Work" title="Sector 5 Work" />
                            <div class="absolute offer-category text-center">
                                <p class="colorWhite samllText">offer/category</p>
                            </div>
                        </div>
                        <div class="textBlockThumb whiteBackgroundColor relative">
                            <h4 class="noMarBot bold bodyColor">Sector 5 Work</h4>
                            <p class="bodyColor fontText12">&#8377; 125 /hour per seat</p>
                            <p class="noMarBot samllText lightGray">10 mins from nicco park</p>

                            <img class="absolute flagThumb" src="images/flag_favourite_unselected.png" alt="Add to favourite" title="Add to favourite" />
                        </div>
                    </div>
                    <div class="spaceThumbnail hoverPointer floatLeft">
                    <div class="imgBlockThumb relative">
                        <img src="images/demo-room.jpg" alt="Sector 5 Work" title="Sector 5 Work" />
                        <div class="absolute offer-category text-center">
                            <p class="colorWhite samllText">offer/category</p>
                        </div>
                    </div>
                    <div class="textBlockThumb whiteBackgroundColor relative">
                        <h4 class="noMarBot bold bodyColor">Sector 5 Work</h4>
                        <p class="bodyColor fontText12">&#8377; 125 /hour per seat</p>
                        <p class="noMarBot samllText lightGray">10 mins from nicco park</p>

                        <img class="absolute flagThumb" src="images/flag_favourite_unselected.png" alt="Add to favourite" title="Add to favourite" />
                    </div>
                </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="padTop50">
                <div class="middleBodyContainer">
                    <div class="spaceThumbnail hoverPointer floatLeft marRight30">
                    <div class="imgBlockThumb relative">
                        <img src="images/demo-room.jpg" alt="Sector 5 Work" title="Sector 5 Work" />
                        <div class="absolute offer-category text-center">
                            <p class="colorWhite samllText">offer/category</p>
                        </div>
                    </div>
                    <div class="textBlockThumb whiteBackgroundColor relative">
                        <h4 class="noMarBot bold bodyColor">Sector 5 Work</h4>
                        <p class="bodyColor fontText12">&#8377; 125 /hour per seat</p>
                        <p class="noMarBot samllText lightGray">10 mins from nicco park</p>

                        <img class="absolute flagThumb" src="images/flag_favourite_unselected.png" alt="Add to favourite" title="Add to favourite" />
                    </div>
                </div>
                    <div class="spaceThumbnail hoverPointer floatLeft marRight30">
                    <div class="imgBlockThumb relative">
                        <img src="images/demo-room.jpg" alt="Sector 5 Work" title="Sector 5 Work" />
                        <div class="absolute offer-category text-center">
                            <p class="colorWhite samllText">offer/category</p>
                        </div>
                    </div>
                    <div class="textBlockThumb whiteBackgroundColor relative">
                        <h4 class="noMarBot bold bodyColor">Sector 5 Work</h4>
                        <p class="bodyColor fontText12">&#8377; 125 /hour per seat</p>
                        <p class="noMarBot samllText lightGray">10 mins from nicco park</p>

                        <img class="absolute flagThumb" src="images/flag_favourite_unselected.png" alt="Add to favourite" title="Add to favourite" />
                    </div>
                </div>
                    <div class="spaceThumbnail hoverPointer floatLeft marRight30">
                    <div class="imgBlockThumb relative">
                        <img src="images/demo-room.jpg" alt="Sector 5 Work" title="Sector 5 Work" />
                        <div class="absolute offer-category text-center">
                            <p class="colorWhite samllText">offer/category</p>
                        </div>
                    </div>
                    <div class="textBlockThumb whiteBackgroundColor relative">
                        <h4 class="noMarBot bold bodyColor">Sector 5 Work</h4>
                        <p class="bodyColor fontText12">&#8377; 125 /hour per seat</p>
                        <p class="noMarBot samllText lightGray">10 mins from nicco park</p>

                        <img class="absolute flagThumb" src="images/flag_favourite_unselected.png" alt="Add to favourite" title="Add to favourite" />
                    </div>
                </div>
                    <div class="spaceThumbnail hoverPointer floatLeft">
                    <div class="imgBlockThumb relative">
                        <img src="images/demo-room.jpg" alt="Sector 5 Work" title="Sector 5 Work" />
                        <div class="absolute offer-category text-center">
                            <p class="colorWhite samllText">offer/category</p>
                        </div>
                    </div>
                    <div class="textBlockThumb whiteBackgroundColor relative">
                        <h4 class="noMarBot bold bodyColor">Sector 5 Work</h4>
                        <p class="bodyColor fontText12">&#8377; 125 /hour per seat</p>
                        <p class="noMarBot samllText lightGray">10 mins from nicco park</p>

                        <img class="absolute flagThumb" src="images/flag_favourite_unselected.png" alt="Add to favourite" title="Add to favourite" />
                    </div>
                </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="shadyBackground">
    <div class="loginBox padTop60 padBot60 text-center bold">
        <hr class="sepLine150 centerPosition grayBackgroundColor" />
        <p>Did you know that you pay for what you use at Nwook?</p>
        <p>At Nwook, we understand that productive meetings can sometimes go longer than planned. </p>
        <p>Hence, we only charge you for the exact time - <br />not for entire slots.</p>
        <hr class="sepLine150 centerPosition grayBackgroundColor" />
    </div>
    <div class="text-center">
        <h1 class="bold">Explore more places at Nwook</h1>
    </div>
    <div class="middleBodyContainer padTop20 marTop20">
        <h2 class="bold">Summer Selects</h2>
        <p class="marBot20">Get a respite from the rising tempature in the city.</p>
    </div>
    <div class="lightYellowBackgroundColor padTop40 padBot40">
        <div class="middleBodyContainer relative">
            <div class="spaceThumbnail hoverPointer floatLeft marRight30">
                <div class="imgBlockThumb relative">
                    <img src="images/demo-room.jpg" alt="Sector 5 Work" title="Sector 5 Work" />
                    <div class="absolute offer-category text-center">
                        <p class="colorWhite samllText">offer/category</p>
                    </div>
                </div>
                <div class="textBlockThumb whiteBackgroundColor relative">
                    <h4 class="noMarBot bold bodyColor">Sector 5 Work</h4>
                    <p class="bodyColor fontText12">&#8377; 125 /hour per seat</p>
                    <p class="noMarBot samllText lightGray">10 mins from nicco park</p>

                    <img class="absolute flagThumb" src="images/flag_favourite_unselected.png" alt="Add to favourite" title="Add to favourite" />
                </div>
            </div>
            <div class="spaceThumbnail hoverPointer floatLeft marRight30">
                <div class="imgBlockThumb relative">
                    <img src="images/demo-room.jpg" alt="Sector 5 Work" title="Sector 5 Work" />
                    <div class="absolute offer-category text-center">
                        <p class="colorWhite samllText">offer/category</p>
                    </div>
                </div>
                <div class="textBlockThumb whiteBackgroundColor relative">
                    <h4 class="noMarBot bold bodyColor">Sector 5 Work</h4>
                    <p class="bodyColor fontText12">&#8377; 125 /hour per seat</p>
                    <p class="noMarBot samllText lightGray">10 mins from nicco park</p>

                    <img class="absolute flagThumb" src="images/flag_favourite_unselected.png" alt="Add to favourite" title="Add to favourite" />
                </div>
            </div>
            <div class="spaceThumbnail hoverPointer floatLeft marRight30">
                <div class="imgBlockThumb relative">
                    <img src="images/demo-room.jpg" alt="Sector 5 Work" title="Sector 5 Work" />
                    <div class="absolute offer-category text-center">
                        <p class="colorWhite samllText">offer/category</p>
                    </div>
                </div>
                <div class="textBlockThumb whiteBackgroundColor relative">
                    <h4 class="noMarBot bold bodyColor">Sector 5 Work</h4>
                    <p class="bodyColor fontText12">&#8377; 125 /hour per seat</p>
                    <p class="noMarBot samllText lightGray">10 mins from nicco park</p>

                    <img class="absolute flagThumb" src="images/flag_favourite_unselected.png" alt="Add to favourite" title="Add to favourite" />
                </div>
            </div>
            <div class="spaceThumbnail hoverPointer floatLeft">
                <div class="imgBlockThumb relative">
                    <img src="images/demo-room.jpg" alt="Sector 5 Work" title="Sector 5 Work" />
                    <div class="absolute offer-category text-center">
                        <p class="colorWhite samllText">offer/category</p>
                    </div>
                </div>
                <div class="textBlockThumb whiteBackgroundColor relative">
                    <h4 class="noMarBot bold bodyColor">Sector 5 Work</h4>
                    <p class="bodyColor fontText12">&#8377; 125 /hour per seat</p>
                    <p class="noMarBot samllText lightGray">10 mins from nicco park</p>

                    <img class="absolute flagThumb" src="images/flag_favourite_unselected.png" alt="Add to favourite" title="Add to favourite" />
                </div>
            </div>
            <div class="clear"></div>
            <a href="#/search-results"><img class="hoverPointer absolute seeAllLink" src="images/view_all.png" alt="view all" title="view all" /></a>
        </div>
    </div>
    <div class="middleBodyContainer padTop20 marTop20">
        <h2 class="bold">Premium Grabs</h2>
        <p class="marBot20">The best of the best, at a no-strings-attached offering.</p>
    </div>
    <div class="lightYellowBackgroundColor padTop40 padBot40">
        <div class="middleBodyContainer relative">
            <div class="spaceThumbnail hoverPointer floatLeft marRight30">
                <div class="imgBlockThumb relative">
                    <img src="images/demo-room.jpg" alt="Sector 5 Work" title="Sector 5 Work" />
                    <div class="absolute offer-category text-center">
                        <p class="colorWhite samllText">offer/category</p>
                    </div>
                </div>
                <div class="textBlockThumb whiteBackgroundColor relative">
                    <h4 class="noMarBot bold bodyColor">Sector 5 Work</h4>
                    <p class="bodyColor fontText12">&#8377; 125 /hour per seat</p>
                    <p class="noMarBot samllText lightGray">10 mins from nicco park</p>

                    <img class="absolute flagThumb" src="images/flag_favourite_unselected.png" alt="Add to favourite" title="Add to favourite" />
                </div>
            </div>
            <div class="spaceThumbnail hoverPointer floatLeft marRight30">
                <div class="imgBlockThumb relative">
                    <img src="images/demo-room.jpg" alt="Sector 5 Work" title="Sector 5 Work" />
                    <div class="absolute offer-category text-center">
                        <p class="colorWhite samllText">offer/category</p>
                    </div>
                </div>
                <div class="textBlockThumb whiteBackgroundColor relative">
                    <h4 class="noMarBot bold bodyColor">Sector 5 Work</h4>
                    <p class="bodyColor fontText12">&#8377; 125 /hour per seat</p>
                    <p class="noMarBot samllText lightGray">10 mins from nicco park</p>

                    <img class="absolute flagThumb" src="images/flag_favourite_unselected.png" alt="Add to favourite" title="Add to favourite" />
                </div>
            </div>
            <div class="spaceThumbnail hoverPointer floatLeft marRight30">
                <div class="imgBlockThumb relative">
                    <img src="images/demo-room.jpg" alt="Sector 5 Work" title="Sector 5 Work" />
                    <div class="absolute offer-category text-center">
                        <p class="colorWhite samllText">offer/category</p>
                    </div>
                </div>
                <div class="textBlockThumb whiteBackgroundColor relative">
                    <h4 class="noMarBot bold bodyColor">Sector 5 Work</h4>
                    <p class="bodyColor fontText12">&#8377; 125 /hour per seat</p>
                    <p class="noMarBot samllText lightGray">10 mins from nicco park</p>

                    <img class="absolute flagThumb" src="images/flag_favourite_unselected.png" alt="Add to favourite" title="Add to favourite" />
                </div>
            </div>
            <div class="spaceThumbnail hoverPointer floatLeft">
                <div class="imgBlockThumb relative">
                    <img src="images/demo-room.jpg" alt="Sector 5 Work" title="Sector 5 Work" />
                    <div class="absolute offer-category text-center">
                        <p class="colorWhite samllText">offer/category</p>
                    </div>
                </div>
                <div class="textBlockThumb whiteBackgroundColor relative">
                    <h4 class="noMarBot bold bodyColor">Sector 5 Work</h4>
                    <p class="bodyColor fontText12">&#8377; 125 /hour per seat</p>
                    <p class="noMarBot samllText lightGray">10 mins from nicco park</p>

                    <img class="absolute flagThumb" src="images/flag_favourite_unselected.png" alt="Add to favourite" title="Add to favourite" />
                </div>
            </div>
            <div class="clear"></div>
            <a href="#/search-results"><img class="hoverPointer absolute seeAllLink" src="images/view_all.png" alt="view all" title="view all" /></a>
        </div>
    </div>
    <div class="">
        <div class="floatRight text-center goTopBox hoverPointer">
            <img src="images/back-to-top.JPG" alt="Back to the top" title="Back to the top">
            <p class="samllText padTop10 lightGray">Back to the top</p>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div ng-include="'templates/footer.html'"></div>

<script type="text/javascript" src="js/page-functionality.js"></script>	