<div class="innerBodyContainer">
    <a href="#/" class="relative floatRight">
        <img class="exitButton hoverPointer" src="images/exit.png" alt="close" title="close" />
    </a>
    <div class="clear"></div>
    
    <div class="loginBox">
        <h1 class="titleSignUp lato-bold marTop60">Hello Nwookster!</h1>
        <p class="">Please enter your password or generate OTP to login</p>
        <div class="relative marTop30 marBot40">
            <input type="password" class="fullWidth loginInput passwordField" placeholder="Password" />
            <a class="absolute passwordShow lightGray hoverPointer">Show</a>
        </div>
        <a class="inline-block yellowLink fullWidth hoverPointer marBot40" ng-click="login()">Login</a>
        
        <p class="onHr upperCase lightGray bold centerPosition text-center">OR</p>
        <hr class="sepLine marBot30 fullWidth" />
        
        <a class="inline-block yellowLink fullWidth hoverPointer marBot60" href="#/login-otp">Login via OTP</a>
    </div>
</div>

<script type="text/javascript" src="js/page-functionality.js"></script>	