<div class="innerBodyContainer">
    <a href="#/" class="relative floatRight">
        <img class="exitButton hoverPointer" src="images/exit.png" alt="close" title="close" />
    </a>
    <div class="clear"></div>
    
    <div class="loginBox">
        <h1 class="titleSignUp lato-bold marTop60">Set up a new password</h1>
        <p>Enter a password of 6 or more characters</p>
        <div class="relative marTop30">
            <input type="password" class="fullWidth loginInput passwordField" placeholder="Password" />
            <a class="absolute passwordShow lightGray hoverPointer">Show</a>
        </div>
        <div class="relative marTop30 marBot40">
            <input type="password" class="fullWidth loginInput passwordField" placeholder="Re-Enter Password" ng-model="repassword" />
            <a class="absolute passwordShow lightGray hoverPointer">Show</a>
        </div>
        <a class="inline-block yellowLink fullWidth hoverPointer marBot60">Reset Password</a>
    </div>
    
    <a class="inline-block blueLink fullWidth text-center hoverPointer marTop60 marBot60 colorLightBlue noUnderline" href="">Encryption and safety information</a>
</div>

<script type="text/javascript" src="js/page-functionality.js"></script>	