<div class="innerBodyContainer">
    <a href="#/" class="relative floatRight">
        <img class="exitButton hoverPointer" src="images/exit.png" alt="close" title="close" />
    </a>
    <div class="clear"></div>
    <div class="loginBox">
        <h1 class="bold marTop60">Welcome!</h1>
        <p class="">Please enter your phone number to get started</p>
        <div class="marTop40 marBot30">
            <p class="countryCode inline relative">+91</p>
            <!--<div id="dd" class=" inline">
                <ul class="countryCode inline dropdown">
                    <li>+91</li>
                    <li>+44</li>
                    <li>+95</li>
                    <li>+05</li>
                </ul>
            </div>-->
            <input type="text" class="loginInput phNoField inline marLeft30" id="phoneNumber" ng-model="phNumber" placeholder="XXXX-XXX-XXX"/>
        </div>
        <a class="inline-block yellowLink fullWidth hoverPointer marBot20" ng-click="sendNumber()">Next</a>
    </div>

    <div class="fullWidth marTop60 marBot60">
        <div class="col3 floatLeft marBot30">
            <img class="subImage1 centerPosition" src="images/fair_pricing.png" alt="Fair Pricing" title="Fair Pricing"/>
            <h4 class="subTitle text-center padTop10">Fair Pricing</h4>
            <p class="subText width80 text-center centerPosition lightGray padTop10">Pay only for the time you spend at the space. <br class="justDesktop" />Not a minute extra.</p>
        </div>
        <div class="col3 floatLeft marBot30">
            <img class="subImage2 centerPosition" src="images/exp_first_pay_later.png" alt="Experience first, pay later" title="Experience first, pay later"/>
            <h4 class="subTitle text-center padTop10">Experience first, pay later</h4>
            <p class="subText width80 text-center centerPosition lightGray padTop10">No committments. No hassles. <br class="justDesktop" />Pay only at the end of the experience.</p>
        </div>
        <div class="col3 floatLeft marBot30">
            <img class="subImage1 centerPosition" src="images/lotalty_pays.png" alt="Loyalty pays" title="Loyalty pays"/>
            <h4 class="subTitle text-center padTop10">Loyalty pays</h4>
            <p class="subText width80 text-center centerPosition lightGray padTop10">Get access to exclusive discounts for continuous access to spaces.</p>
        </div>
        <div class="clear"></div>
    </div>
</div>

<script type="text/javascript" src="js/page-functionality.js"></script>	